* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 font-size: 62.5%;
}

body {

  font-size: 1.6rem;
  background-color: rgb(237, 244, 255);
  font-family: "Sofia Sans";
}

.container {
  display: grid;

  grid-template-rows: repeat(1fr, 3);
  grid-template-columns: 100%;
  margin: 0 auto;
}


.fundo-nav {
  
  display: flex;
  justify-content: center;
  background: rgba(227, 238, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(201, 221, 255, 1) 0%,
    rgba(227, 238, 255, 1) 8%,
    rgba(242, 247, 255, 1) 50%,
    rgba(227, 238, 255, 1) 92%,
    rgba(188, 213, 255, 1) 100%
  );
}

nav,menu, .container {
  max-width: 1920px;
  min-width: 1280px;
}

.banners {
  background-color: white;
  margin-bottom: 9.6rem;
  max-height: 360px;
}

main {
  background-color: rgb(255, 255, 255);
  height: 120rem;
  margin: 0 75px;

  box-shadow: 0 0 30px rgba(200, 200, 200, 0.274);
  margin-bottom: 9.6rem;
}

footer {
  background-color: #123167;
  height: 40rem;

}