.container {
  max-width: 1920px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  margin: 0 auto;
}

.banners{
  margin-bottom: 12rem;
}

main {
  background-color: rgb(249, 249, 249);
  box-shadow: 0 0 32px rgba(165, 165, 165, 0.553);
  width: 95%;
  margin: 0 auto;
  max-width: 1920px;
  margin-bottom: 9.2rem;

  display: grid;

  grid-template-rows: repeat(3, auto);
}

footer {
  height: 60rem;

}