footer {

  display: grid;
  grid-template-rows: 75% 25%;


}


footer .parte1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: #123167;
}

footer .parte1 ul {
  list-style: none;
  height: 20.4rem;
}
footer .parte1 ul li svg {
  width: 2rem;
  position: absolute;
  left: 0;
}
footer .parte1 ul span {
  color: #82c91e;
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
}

footer .parte1 ul li {
  font-size: 18px;
  padding: 5px 0;
  padding-left: 20px;
  position: relative;
}

footer .parte1 ul li a {
  text-decoration: none;
  color: white;
}

footer .parte1 ul li a:hover {
  color: rgb(210, 246, 255);
}
footer .parte1 ul li:hover svg {
  color: rgb(63, 145, 166);
}

footer img {
  height: 80%;


}



footer .parte2 {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  color: white;
  font-size: 24px;
  background-color: #001035;
}

footer .parte2 .redesocial-container {
  display: flex;
  gap: 32px;
}

footer .parte2 .redesocial-container img {
  height: 5rem;
  
}

footer .parte2 .redesocial-container img:hover {
  cursor: pointer;
}

@media (max-width: 1080px) {
  footer .parte1 {
    align-items: start;
    text-align: center;
  }

  footer .parte1 ul {
    margin-top: 80px;
  }
  
  footer .parte1 .titulo {
    font-size: 16px;

  }
  
  footer .parte1 ul a{
    flex-wrap: wrap;
    font-size: 14px;
  }
  footer {
    height: 65rem;
  }
}