/* DESKTOPS ALTA RESOLUÇÃO*/

/* -=-=- Container Header -=-=- */
header {
  width: 100%;
  white-space: nowrap;
  background: rgba(227, 238, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(201, 221, 255, 1) 0%,
    rgba(227, 238, 255, 1) 8%,
    rgba(242, 247, 255, 1) 50%,
    rgba(227, 238, 255, 1) 92%,
    rgba(188, 213, 255, 1) 100%
  );


}

/* -=-=- Nav Bar -=-=-*/

nav {
  height: 160px;
  width: 100%;
  max-width: 1920px;
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 0 80px;

  margin: 0 auto;

}

.icon-nav {
  height: 20%;
  color: #1a4895;
  cursor: pointer;
}

nav .logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}
nav .logo {
  height: 75%;
}

/* Elementos mobile */
nav .container-mobile {
  display: none;
}
nav .logo-mobile-texto {
  display: none;
}

nav .hamburguer-mobile {
  display: none;
}


/* Barra pesquisa*/
header form {
  background-color: #fff;
  width: calc(100vw - 100rem);
  height: 40px;
  max-width: 80rem;
  display: flex;
  border: 2px solid #1a4895;
  border-radius: 5px;

  padding-left: 12px;
  padding-right: 16px;
  box-shadow: 0px 0px 10px rgba(81, 81, 81, 0.274);
}

header form > * {
  border-radius: 10px;
}

.icone-pesquisa {
  height: 100%;
}

header form input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-family: Sofia Sans;
  font-size: 17px;
}

header form button {
  border: none;
  background-color: white;

  display: flex;
  align-items: center;
}

header form button .icone-pesquisa {
  stroke: #1a4895;
  stroke-width: 7%;
  height: 70%;
  cursor: pointer;
}

/* Flexbox usuário */
.user-mensagem {
  width: 170px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 35%;
}

nav .user {
  height: 80%;
  stroke: #1a4895;
  stroke-width: 3px;
  border: 2px solid #1a4895;
  border-radius: 20000px;
}

nav a {
  font-weight: 700;
  text-decoration: none;
  color: rgb(37, 37, 37);
}

nav a:visited {
  color: rgb(37, 37, 37);
}

nav a:hover {
  color: #1e51a9;
}

/* Carrinho e Desejos*/
.opcoes-nav {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 42px;
}

.opcoes-nav svg {
  height: 32px;
}

.opcoes-nav a {
  width: auto;
}
/*-=-=- Menu -=-=- */
.menu {
  height: 38px;
  background-color: #1a4895;
  color: white;
  font-size: 1.99rem;
  padding: 0 15rem;
  display: flex;
  justify-content: center;
  white-space: nowrap;

}

.menu a svg {
  height: 2.2rem;
  color: white;
}

.menu a .mouse {
  color: white;
  fill: white;
}

.menu a {
  height: 100%;

  display: flex;
  align-items: center;
  gap: 6px;

  text-decoration: none;
  color: white;

  font-size: 2rem;

  padding: 0 3.5rem; 
  border-left: 2px solid #123167;

}

.menu a:last-child {
  border-right: 2px solid #123167;


}

.menu a:hover {
  background-color: white;
  color: #1a4895;
}

.menu a:hover svg {
  color: #1a4895;
}

.menu a:hover .mouse {
  color: #1a4895;
  fill: #1a4895;
}

/* sub menus */


/* -=-=-=- MEDIA QUERIES -=-=-=- */

/* Computadores desktop de resolução média */
@media (max-width: 1568px) {
  header form {
    width: calc(100vw - 82rem);
    max-width: 70rem;
  }

  nav {
    padding: 0 40px;
  }
}
/* Desktops ou tablets de resolução baixa */
@media (max-width: 1320px) {
  .menu a{
    padding: 0 15px;
    font-size: 18px;
  }
  
  nav {
    justify-content: space-between;
    height: 120px;
  }
  
  header form {
    width: calc(100vw - 72rem);
    max-width: 60rem;
    height: 36px;
  }

  .menu a{
    padding: 0 2.5rem;
  }


  .opcoes-nav {
    gap: 24px;
  }

}

/* Tablets e outros dispositivos mobiles */
@media (max-width: 1080px) {
  /* Removidos*/
  nav .logo-container {
    display: none;
  }
  nav .logo {
    display: none;   
  }
  .menu {
    display: 	none;
  }

  .user-mensagem {
    display: none;
  }

  .desejos, .link-desejos {
    display: none;
  }
  /* HEADER*/
  header {
    background:#0d254e;
    display: fixed;
  }
  
  /* NAV */
  header {
    position: fixed;
    top: 0;
    z-index: 999;
  }
  
  nav {
    height: auto;
    width: 100%;


    display: flex;
    justify-content:space-between;

    padding: 1.2rem 1.6rem;
  }
  

  /* logo */
  nav .logo-mobile-texto {
    display: block;
    max-width: auto;
    height: 100%;
    min-width: auto;
    
  }

  /* Barra de pesquisa */
  header form {
    height: 3.6rem;
    width: calc(100vw - 16.8rem);
    max-width: 91rem;
    max-width: none;
  }

  header input {
    min-height: auto;
    min-width: 0;
  }
  /* ICONES*/

  nav .container-mobile {
    height: 3.2rem;
    display: flex;
    align-items: center;
  }
  .hamburguer-mobile {
    display: block !important;
    height: 3rem;
    color: white;
  }

  .hamburguer-mobile:hover {
    cursor: pointer;
  }
  
  .link-carrinho {
    height: 35%;
    display: flex;
    align-items: center;
  }

  .carrinho {
    color: white;
    height: 2.8rem !important;

  }

  .slick-arrow {
    display: none;
  }

}

