* {
  box-sizing: border-box;
  display: flexbox;
  gap: 0 30px;
 
 }
 .container{
     display: flex;
     justify-content: space-between;
     border-top: 1px solid rgb(38, 37, 37);
     background-color: rgb(244, 242, 243); /* COR FUNDO DO ITEM */
     height: 60px; 

     align-items: center;
     border-top: 1px solid;
     padding: 0 20px;
     gap: 20px;
 
 }
 .produto{
 

    height: 140px;
     display: flex;
     align-items: center;
     justify-content: center; 
     border-top: 1px solid rgb(38, 37, 37);
     border-bottom: 1px solid black;
 

 }
 .compra{
     display: flex;
     background-color: rgb(60, 86, 141);
     align-items:flex-end;
     height: 250px;
     width: 25%;
     justify-content: space-around; 
     padding: 0 20px;
     font-size: 18px;
     flex-direction: column;
     float: right;
     align-items: center; 
 
 }
 
 .button{
     background: white;
     border: none;
     color: #fff;
     cursor: pointer;
     font-weight: bold;
     height: 50px;
     width: 120px;
 
 }
 button:hover{
     background: #ff3333;
     width: 150px;
 }

.area-produto {
  width: 100%;
}

 .container-carrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 70%;
  margin: 0 auto;
 }