/* -=-=- Área geral -=-=-*/
main {
  width: 95%;
  max-width: 1920px;


  margin: 0 auto;
  margin-top: 96px;
  
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: 80px 1fr;

  column-gap: 20px;
}


/* -=-=-=- Filtros Produtos -=-=-=- */
main .filtros-produtos {
  grid-row: 1 / -1;
  grid-column: 1;

  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 5px;

  padding: 16px 12px;

}




.filtros-produtos h2 {
  color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 22px;

  margin-bottom: 18px;

}
.filtros-produtos h2 svg {
  width: 24px;
  color: rgb(16, 55, 92);
}

/* Filtro de preco*/
.filtros-produtos  .filtro-preco h4 {
  color: rgb(73, 73, 73);
  height: 14px;
  margin: 16px 0;
}

.filtros-produtos  .filtro-preco .range-slider {
  width: 100%;
}

/* outros filtros*/
.filtros-produtos details {

  padding: 10px 0;
  border-bottom: 1px solid rgba(170, 170, 170, 0.432);
  border-top: 1px solid rgba(170, 170, 170, 0.432);
}
.filtros-produtos details summary {
  font-size: 18px;
  color: rgb(73, 73, 73);
  font-weight: 600;

  padding: 4px 0 ;

  padding-left: 16px;
  padding-right: 20px;

  display: flex;
  justify-content: space-between;
}

.filtros-produtos details summary svg {
  width: 2.2rem;
  color: rgb(16, 55, 92);
}
.filtros-produtos details form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 4px 24px;
}

.filtros-produtos details form label {
  display: flex;
  gap: 5px;
}



/* -=-=-=-  Header Filtros -=-=-=-*/
main .header-filtros {
  grid-row: 1;
  grid-column: 2 / -1;

  font-size: 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgb(212, 212, 212);
  background-color: #fdfdfd;
}

.header-filtros .filtro-header {
  display: flex;
  gap: 1.2rem;
}

.header-filtros .filtro-header .titulo-filtro {

  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.header-filtros .filtro-header .titulo-filtro svg {
  height: 18px;
}

.header-filtros .select-ord {
  resize: none;
  padding: 10px 0;
  padding-left: 16px;
  padding-right: 32px;
  font-size: 16px;
  border-radius: 0.25rem;
  width:222px;
  border: 1px solid rgba(104, 104, 104, 0.185);
  background-color: white;
  box-shadow: 0 0 12px rgba(119, 119, 119, 0.075);
  font-family: sofia sans;
  color: rgb(49, 49, 49);
}

/*  -=-=- Área Produto -=-=- */
main .area-produtos {
  grid-row: 2;
  grid-column: 2 / -1;
  background-color: #fdfdfd;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Lista paginação */
