@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;700;800;900&display=swap%22");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sofia Sans, sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: var(--bg-color) #1d2631;
  --tex-color: #0c0202;
  --main-color: #34e7f8;
  --other-color: #fcfcfc;
  --h1-font: 4rem;
  --p-font: 1rem;
}

body {
  background-color: #1d2631;
  color: var(--tex-color);
}

/* Container Geral */

.container {
  display: grid;
  position: relative;
  grid-template-columns: 80px 1fr 1fr;
  grid-template-rows: 100px 1fr;
  width: 1200px;
  height: 550px;
  margin: 50px auto;
  background-color: white;
}

/* TITULO */
h1 {
  grid-row: 1;
  grid-column: 1 / 4;
}

/* IMAGEM PRODUTO */
.one {
  width: 400px;
  height: auto;
  padding: 20px 10px;
}

.btn {
  display: flex;
  padding: 10px 210px;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: solid 2px;
  background-color: #c6131c;
  transition: all.55 ease;
  color: #fff;
  justify-content: center;
  gap: 6px;
  align-items: center;
}

.home-text svg {
  width: 20px;
}
.main {
  padding: 40px 0px;
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.main li img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border: 1px solid #c1c1c1;
}

.main li img:hover {
  border: 2px solid black;
}

.row {
  background: #fcfcfc;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  justify-content: center;
  transition: all.55s ease;
  cursor: pointer;
  display: inline-flex;
}

.row2 {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all.55s ease;
}

.row3 {
  height: 70px;
  width: 70px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all.55s ease;
}

.button-cep {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  border-radius: 0 !important;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  word-break: break-word;
  white-space: normal;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background: #08f;
  outline: 0;
  background-image: none !important;
}

.container-descricao {
  display: flex;
  width: 1200px;
  background-color: white;
  margin: auto;
  flex-direction: column;
  padding: 20px;
  line-height: 130%;
  margin-bottom: 100px;
}
.container-descricao h3 {
  text-align: center;
  margin: 10px 0;
}
.coracao_h3 {
  position: absolute;
  right: 30px;
  top: 100px;
}

.coracao_h3:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
