/* -=-=- Container Header -=-=-*/
header {
  width: 100%;
  white-space: nowrap;
  background: rgba(227, 238, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(201, 221, 255, 1) 0%,
    rgba(227, 238, 255, 1) 8%,
    rgba(242, 247, 255, 1) 50%,
    rgba(227, 238, 255, 1) 92%,
    rgba(188, 213, 255, 1) 100%
  );
}

/* -=-=- Nav Bar -=-=-*/

nav {
  height: 160px;
  width: 100%;
  max-width: 1920px;
  display: flex;

  align-items: center;
  justify-content: space-around;

  padding: 0 80px;

  margin: 0 auto;

}

nav .user { 
  height: 10%; 
  stroke: #001035; 
  stroke-width: 3px; 
  color:#001035 ; 
  border: 2px solid #001035; 
  border-radius: 20000px; } 

.icon-nav {
  height: 20%;
  color: #1a4895;
  cursor: pointer;
}

nav .logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

nav .logo {
  height: 75%;
}

/* Elementos mobile */

nav .container-mobile {
  display: none;
}
nav .logo-mobile-texto {
  display: none;
}

nav .hamburguer-mobile {
  display: none;
}

.user-id {
  display: flex;
  gap: 0 20px;
  align-items: center;
}

.user-icon{
  width: 50px;
}

.user-txt{
  line-height: 18px;
}

.user-txt a{
  text-decoration: none;
  color: #001035;
}

.user-txt p{
  font-size: 17px;
  text-align: center;
}

/*-=-=- Menu -=-=- */

.menu {
  height: 38px;
  background-color: #1a4895;
  color: white;
  font-size: 1.99rem;
  padding: 0 15rem;
  display: flex;
  justify-content: center;
  white-space: nowrap;

}

.menu a svg {
  height: 2.2rem;
  color: white;
}

.menu a .mouse {
  color: white;
  fill: white;
}

.menu a {
  height: 100%;

  display: flex;
  align-items: center;
  gap: 6px;

  text-decoration: none;
  color: white;

  font-size: 2rem;

  padding: 0 3.5rem; 
  border-left: 2px solid #123167;

}

.menu a:last-child {
  border-right: 2px solid #123167;


}

.menu a:hover {
  background-color: white;
  color: #1a4895;
}

.menu a:hover svg {
  color: #1a4895;
}

.menu a:hover .mouse {
  color: #1a4895;
  fill: #1a4895;
}

/* -=-=-=- MEDIA QUERIES -=-=-=- */

/* Computadores desktop de resolução média */
@media (max-width: 1568px) {
  header form {
    width: 55rem;
  }

  nav {
    padding: 0 40px;
  }
}

/* Desktops ou tablets de resolução baixa */

@media (max-width: 1320px) {
  .menu a{
    padding: 0 15px;
    font-size: 18px;
  }
  
  nav {
    justify-content: space-between;
    height: 120px;
  }
  
  header form {
    width: 43rem;
    height: 36px;
  }

  .menu a{
    padding: 0 2.5rem;
  }


  .opcoes-nav {
    gap: 24px;
  }

}

/* Tablets e outros dispositivos mobiles */

@media (max-width: 1080px) {

/* Removidos*/

  nav .logo-container {
    display: none;
  }
  nav .logo {
    display: none;   
  }
  .menu {
    display: 	none;
  }

  .user-mensagem {
    display: none;
  }

  .desejos, .link-desejos {
    display: none;
  }
  
  /* HEADER*/

  header {
    background:#0d254e;
    display: fixed;
  }
  
  /* NAV */

  nav {
    height: auto;
    width: 100%;


    display: flex;
    justify-content:space-between;

    padding: 1.2rem 1.6rem;
  }
  

  /* logo */
  
  nav .logo-mobile-texto {
    display: block;
    max-width: auto;
    height: 100%;
    min-width: auto;
    
  }

  /* Barra de pesquisa */
  header form {
    height: 3.6rem;
    width: calc(100vw - 15.75rem);

    min-height: auto;
    min-width: auto;
  }

  header input {
    min-height: auto;
    min-width: 0;
  }
  /* ICONES*/

  nav .container-mobile {
    height: 3.2rem;
    display: flex;
    align-items: center;
  }
  .hamburguer-mobile {
    display: block !important;
    height: 2.4rem;
    color: white;
  }

  .hamburguer-mobile:hover {
    cursor: pointer;
  }
  .carrinho {
    color: white;
    height: 35%;
    height: 2.4rem;
  }

  .slick-arrow {
    display: none;
  }

}


